<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../src/output.css" rel="stylesheet">
    <title>Undangan Baralek</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
</head>
<body class="bg-warna1">
    <section id="section1" class="flex w-full justify-center items-center min-h-screen">
        <main class="w-full min-h-screen flex flex-col items-center bg-cover bg-center shadow-2xl" style="background-image: url('/img/F1.png');">
            <div class="px-8 py-24 hp:space-y-12 xl:space-y-10">
                <p class="text-2xl text-center font-contrail font-medium mb-4 text-white hp:mb-20">The Wedding Of</p>
                <div class="space-y-4">
                    <p class="text-7xl text-left font-great text-white hp:mb-6">Ladya</p>
                    <p class="text-4xl mb-3 font-kausan text-center text-white hp:mb-6">&</p>
                    <p class="text-7xl mb-8 font-great text-right text-white hp">Ilham</p>
                </div>
                <div>
                    <p class="italic font-semibold text-xl text-center text-white">Dear : </p>
                    <p class="italic font-semibold text-2xl text-center text-white">Yang diundang & keluarga </p>
                </div>
                <div class="flex justify-center">
                    <button onclick="document.getElementById('section2').scrollIntoView({ behavior: 'smooth' });" 
                    class="bg-gradient-to-r from-warna1 via-warna2 to-warna1 text-xl py-1 px-4 text-white font-semibold rounded-lg mt-4">
                    <i class="fa-solid fa-envelope mr-2"></i>Buka Undangan</button>
                </div>
            </div>
        </main>
    </section>
    <section id="section2" class="flex w-full justify-center items-center min-h-screen">
        <main class="w-full min-h-screen flex flex-col items-center bg-cover bg-center shadow-2xl" style="background-image: url('/img/F2.png');">
            <div class="px-8 py-8 hp:space-y-4 xl:space-y-10">
                 <div class="space-y-1">
                    <p class="text-xl text-center font-contrail font-medium text-white">Assalamualaikum Wr. Wb.</p>
                    <p class="text-xs text-center text-white">Dengan memohon rahmat dan ridho Allah Subhanahu Wa Ta'ala, Kami mengundang Bapak/Ibu/Saudara/i, untuk menghadiri Resepsi Pernikahan kami.</p>
                </div>
                <div class="space-y-4 flex items-center justify-center flex-col">
                    <div class="flex-col justify-center flex items-center text-white">  
                        <img src="/img/F2_1.jpg" class="w-40 rounded-xl mb-1 items-center border-2 border-warna1 shadow-2xl" alt="">
                        <p class="text-center text-xl font-semibold font-belleza">Ilham Ramadhan</p>
                        <p class="text-center text-sm -mt-1">Putra dari</p>
                        <p class="text-center text-sm -mt-1">Bapak Zulhendri & Ibu Jusmarni</p>
                    </div>
                    <div>
                        <img src="/img/F2_L.png" class="w-20" alt="">
                    </div>
                    <div class="flex-col justify-center flex items-center text-white">  
                        <img src="/img/F2_2.jpg" class="w-40 rounded-xl mb-1 items-center border-2 border-warna1 shadow-2xl" alt="">
                        <p class="text-center text-xl font-semibold font-belleza">Mulda Ladya</p>
                        <p class="text-center text-sm -mt-1">Putri dari</p>
                        <p class="text-center text-sm -mt-1">Bapak Narupa & Ibu Nurjasmi</p>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <section id="section2" class="flex w-full justify-center items-center">
        <main class="w-full xl:min-h-screen flex flex-col items-center bg-cover bg-center shadow-2xl" style="background-image: url('/img/F3.png');">
            <div class="px-4 py-8 hp:space-y-4 xl:space-y-10">
                 <div class="mb-2">
                    <p class="text-5xl text-center font-contrail font-medium text-white">Countdown</p>
                </div>
                <div class="grid grid-cols-4 gap-6 text-white text-center">
                    <div class="flex-col justify-center flex items-center text-white border-2 border-warna1 px-2 py-1 -space-y-2 rounded-lg">
                        <p class="font-breee text-xl">10</p>
                        <p class="font-breee">Hari</p>  
                    </div>
                
                    <div class="flex-col justify-center flex items-center text-white border-2 border-warna1 px-2 py-1 -space-y-2 rounded-lg">
                        <p class="font-breee text-xl">20</p>
                        <p class="font-breee">Jam</p>  
                    </div>
                    <div class="flex-col justify-center flex items-center text-white border-2 border-warna1 px-2 py-1 -space-y-2 rounded-lg">
                        <p class="font-breee text-xl">20</p>
                        <p class="font-breee">Menit</p>  
                    </div>
                    <div class="flex-col justify-center flex items-center text-white border-2 border-warna1 px-2 py-1 -space-y-2 rounded-lg">
                        <p class="font-breee text-xl">10</p>
                        <p class="font-breee">Detik</p>  
                    </div>
                </div>
                <div class="flex justify-center">
                    <button 
                    class="bg-gradient-to-r from-warna1 via-warna2 to-warna1 text-xl font-breee py-1 px-4 text-white rounded-lg mt-4">
                    <i class="fa-solid fa-envelope mr-2"></i>Save the Date</button>
                </div>
            </div>
        </main>
    </section>
</body>
</html>